.f-100 {
    height: 100vh;
}
.f-95 {
    height: 95vh;
}
.f-90 {
    height:90vh;
}
.f-85 {
    height: 85vh;
}
.f-80 {
    height: 80vh;
}
.f-70 {
    height:70vh;
}
.f-60 {
    height: 60vh;
}
.f-50 {
    height:50vh;
}